<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\jnvkaa.org\tmp"/>
    <httpRuntime />
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=.;Initial Catalog=__JNVKAA;User ID=jnvk;Password=krishna@1234;" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" />
      <error statusCode="401" path="401.htm" />
      <remove statusCode="403" />
      <error statusCode="403" path="403.htm" />
      <remove statusCode="404" />
      <error statusCode="404" path="404.htm" />
      <remove statusCode="405" />
      <error statusCode="405" path="405.htm" />
      <remove statusCode="406" />
      <error statusCode="406" path="406.htm" />
      <remove statusCode="412" />
      <error statusCode="412" path="412.htm" />
      <remove statusCode="500" />
      <error statusCode="500" path="500.htm" />
      <remove statusCode="501" />
      <error statusCode="501" path="501.htm" />
      <remove statusCode="502" />
      <error statusCode="502" path="502.htm" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
<!--Jnv10027-->
<!--122.175.16.220-->
<!--tempDirectory="C:\Inetpub\vhosts\jnvkaa.org\tmp"-->